<h3>MP3s &amp; MIDIs</h3>

<h3>Daemon Irrepit Callidus</h3>

<ul>
  <li><a href="http://gleeclub.s3.amazonaws.com/Daemon%20Irrepit%20Callidus%20T1.aif">Tenor 1</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Daemon%20Irrepit%20Callidus%20T2.aif">Tenor 2</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Daemon%20Irrepit%20Callidus%20B1.aif">Bass 1 (Baritone)</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Daemon%20Irrepit%20Callidus%20B2.aif">Bass 2</a></li>
</ul>

<h3>Seniores Populi</h3>

<ul>
  <li><a href="http://gleeclub.s3.amazonaws.com/Seniores%20Populi%20-%20Tutti.aiff">Tutti</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Seniores%20Populi%20-%20Alto.aiff">Alto</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Seniores%20Populi%20-%20Tenor.aiff">Tenor</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Seniores%20Populi%20-%20Baritone.aiff">Baritone</a></li>
  <li><a href="http://gleeclub.s3.amazonaws.com/Seniores%20Populi%20-%20Bass.aiff">Bass</a></li>
</ul>
